.mainbody {
  align-items: center;
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: space-around;
}
.fboxinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100;
}
.boxinfo [name="photojpg"] {
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.boxinfo {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.orghead {
  text-align: center;
}
img {
  height: 120px;
}
@media screen and (max-width: 786px) {
  .orghead {
    top: 100px;
  }
  .mainbody {
    top: 100px;
  }
  .fboxinfo {
    display: flex;
    flex-direction: column;
  }
}
