* {
  margin: 0;
  padding: 0;
}
body {
  position: fixed;
  background-image: url("images/bgimg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center right;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.icons {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  align-items: center;
}
.logoclass {
  font-size: 30px;
  font-weight: bold;
}

.navclass ul {
  display: flex;
  padding: 10px 10px 0px 10px;
}
ul li {
  padding: 10px 10px 0px 10px;
  list-style: none;
}
li a {
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
  color: #000;
  text-shadow: 0px 1px 3px black;
}
@media screen and (max-width: 786px) {
  .icons {
    display: block;
  }
  .icons {
    height: 100%;
    margin: 10px;
    padding: 10px;
  }
  .mainnavbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .logoclass {
    padding: 10px;
  }
  header {
    display: inline;
    height: 60px;
  }

  .navclass {
    position: absolute;
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transform: translateX(100%);
  }
  .navclass ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 300px;
  }
  li a {
    text-decoration: none;
    font-size: 20px;
  }
  .icons .fa-x {
    display: none;
  }

  .active .fa-bars {
    display: none;
  }
  .active .fa-x {
    display: block;
  }

  .active .navclass {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateX(0);
  }

  .active .mainbody {
    transition: 1s;
    display: none;
  }
}
