.images_field {
  position: relative;
  display: flex;
  padding: 20px;
  height: 75%;
}
.imgsclass {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
img {
  height: 100px;
  padding: 10px;
}
@media screen and (max-width: 786px) {
  .imgsclass {
    width: 100%;
    flex-direction: column;
  }
  img {
    padding: 10px;
  }
}
@media screen and (max-width: 361px) {
  .imgsclass {
    width: 100%;
    flex-direction: column;
  }
  img {
    padding: 10px;
  }
}
