.mainbodyo {
  padding: 20px;
  position: fixed;
  width: 100%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.outcointainer {
  max-width: 100%;
  width: 100%;
  max-width: max-content;
  align-items: center;
  display: flex;
  background-color: bisque;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 10px rgba(47, 164, 12, 0.5);
}
.pdes {
  padding: 5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  font-size: 15px;
}

.regbut {
  padding: 5px;
  margin-right: 5px;
  background-color: rgba(186, 15, 15, 0.2);
  border-radius: 7px;
  border-style: none;
  width: fit-content;
}
.regbut a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .mainbodyo {
    max-width: 500px;
  }
  .outcointainer {
    height: fit-content;
    width: 400px;
  }
  .regbut a {
    font-size: 10px;
    font-weight: bold;
  }
}
@media screen and (max-width: 450px) {
  .mainbodyo {
    max-width: 400px;
  }
  .outcointainer {
    height: fit-content;
    width: 350px;
  }
  .regbut a {
    font-size: 10px;
    font-weight: bold;
  }
}
@media screen and (max-width: 361px) {
  .mainbodyo {
    max-width: 350px;
  }
  .outcointainer {
    height: fit-content;
    width: 300px;
  }
  .regbut a {
    font-size: 9px;
    font-weight: bold;
  }
}
