.mainbody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.inCointainer {
  max-width: 400px;
  width: 100%;
  padding: 20px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.regclass {
  text-align: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.input-box input {
  border-style: none;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 20px;
}
.input-submit {
  top: 10px;
  text-align: center;
}
.input-submit input {
  font-size: 15px;
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
.adminlogin {
  color: black;
}
