.mainbody {
  padding: 20px;
  position: fixed;
  top: 50px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .input-box {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.input-box input {
  margin: 5px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-style: none;
}
.inCointainer {
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 650px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
}
body {
  width: 100%;
  background-image: url("/7.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center right;
}

.logo {
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  align-items: center;
  width: fit-content;
  text-align: center;
}
.icons {
  display: none;
}
.headbar {
  display: flex;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  justify-content: space-between;
}
.idul {
  height: 100%;
  align-items: center;
  float: right;
  display: flex;
  margin: 5px;
}
li {
  margin: 10px;
  padding: 10px;
  list-style: none;
  text-align: center;
}
li:hover {
  transition: 0.9s;
  background-color: rgba(114, 225, 124, 0.245);
}
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.regclass {
  text-align: center;
}
.input-submit {
  top: 10px;
  text-align: center;
}
.input-submit input {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
.input-box input {
  padding: 5px;
}
@media screen and (max-width: 786px) {
  body {
    position: absolute;
  }
  .icons .fa-x {
    display: none;
  }
  .headbar {
    width: 100%;
    position: fixed;
  }
  .logo {
    font-size: 30px;
  }

  .icons {
    margin: 10px;
    display: block;
    padding: 10px;
  }
  .idul {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    display: inline-block;
    width: 100%;
    height: fit-content;

    transition: 1s;
    transform: translateX(105%);
  }

  li {
    margin: 20px;

    transition: 0.5s;
  }
  li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .active {
    background-color: rgba(225, 225, 225, 0);
  }

  .active .fa-bars {
    display: none;
  }
  .active .fa-x {
    display: block;
  }
  .active .logo {
    visibility: hidden;
  }
  .active .idul {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(0);
  }

  .active li:hover {
    transition: 5s;
    background-color: rgba(225, 225, 225, 0.5);
  }
  .inCointainer {
    max-width: 300px;
    width: 100%;
  }
}
